In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

23/06/17 16:18:14 WARN Utils: Your hostname, julian-Latitude-7280 resolves to a loopback address: 127.0.1.1; using 192.168.0.102 instead (on interface wlp1s0)
23/06/17 16:18:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/julian/spark-3.2.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.2.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/17 16:18:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Creating Dataframes

In [9]:
df_green = spark.read.parquet('data/pq/green/*/*')
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime', 'dropoff_datetime')

In [10]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime', 'dropoff_datetime')

In [11]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

## Combined dataset

In [16]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [17]:
from pyspark.sql import functions as F

In [19]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type',F.lit('green'))

df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type',F.lit('yellow'))

In [21]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [23]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [24]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

## SQL

In [27]:
df_trips_data.registerTempTable('trips_data')

/home/julian/spark-3.2.3-bin-hadoop3.2/python/pyspark/sql/dataframe.py:138: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn(

In [31]:
spark.sql("""
SELECT 
    service_type,
    COUNT(1)
FROM 
    trips_data
GROUP BY
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [32]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [33]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         127|2020-02-01 00:00:00|       green|  21571.680000000015|               890.75|                  495.0|                   1050.52|          488.80000000000035|                   345.00000000000733|           25119.14999999965|                               264.0|        1.1945837512537614|      4.5838944723618065|
|           9|2020-02-01 00:00:00|       green|   7251.639999999994|               643.25|                   25.0|         7.720000000000001|          183.20000000000007|                    77.99999999999962|           8193.510000000004|                                2.75|        1.1219512195121952|      445.80187969924816|
|           6|2020-02-01 00:00:00|       green|                46.5|                  0.0|                    0.5|                       0.0|                       18.36|                                  0.3|                       68.41|                                2.75|                       1.0|                   16.94|
|          18|2020-03-01 00:00:00|       green|   9502.130000000008|                 69.5|                  100.0|                     78.06|          414.14000000000027|                   136.19999999999945|          10401.979999999994|                                 5.5|        1.1727272727272726|       5.481708860759491|
|         115|2020-10-01 00:00:00|       green|               641.0|                  3.0|                    4.5|        37.870000000000005|                      140.76|                                  4.5|                      834.38|                                 0.0|        1.5555555555555556|      12.713999999999999|
|         125|2020-10-01 00:00:00|       green|               87.57|                  0.0|                    0.0|                       5.5|                         0.0|                                  0.6|                       93.67|                                null|                      null|                    6.42|
|          65|2020-11-01 00:00:00|       green|  22636.970000000045|                495.0|                  635.5|        2793.9399999999987|          101.71000000000002|                    444.3000000000111|           27289.81999999965|                               239.0|         1.206734534064213|      3.2088559892328368|
|          47|2020-01-01 00:00:00|       green|  16630.150000000034|               1192.0|                  160.0|        42.230000000000004|           523.0000000000003|                   210.90000000000228|           18770.42999999991|                                11.0|         1.177685950413223|      4.6450000000000005|
|         180|2020-02-01 00:00:00|       green|   2817.150000000001|                178.0|                   15.0|                     12.52|                       37.47|                    30.00000000000005|          3090.1399999999994|                                 0.0|        1.0606060606060606|       5.735299999999999|
|          53|2020-01-01 00:00:00|       green|   6281.649999999992|               330.25|                   49.0|         39.21999999999999|          102.50000000000001|                    68.39999999999971|           6873.770000000006|                                2.75|        1.2417582417582418|       6.929710743801653|
|         228|2020-03-01 00:00:00|       green|   9563.500000000004|                78.75|                   82.5|                    258.65|          142.10000000000002|                   114.59999999999927|          10354.800000000001|                               52.25|        1.2658227848101267|      6.7176240208877305|
|          39|2020-03-01 00:00:00|       green|  23451.610000000022|               148.25|                  116.0|                      43.1|          492.48000000000025|                    275.4000000000047|            24677.6399999999|                                 0.0|        1.2871794871794873|      160.07567567567577|
|         254|2020-03-01 00:00:00|       green|  15220.620000000004|               108.25|                   75.5|                     14.74|           957.1400000000003|                    190.5000000000015|          16630.949999999964|                                 0.0|        1.2098765432098766|       7.351377708978323|
|         136|2020-10-01 00:00:00|       green|  12451.149999999998|                 37.5|                   57.0|                    926.65|           654.8400000000004|                   111.29999999999959|          14243.940000000017|                                2.75|        1.0743801652892562|       8.274097035040429|
|         265|2020-10-01 00:00:00|       green|   5726.509999999998|                16.25|                   33.0|                    329.22|          213.68000000000004|                   38.700000000000045|           6359.310000000003|                                2.75|         1.178082191780822|      12.571085271317827|
|         128|2020-01-01 00:00:00|       green|  3261.3300000000004|                158.0|                   35.5|                     82.25|          104.04000000000002|                    34.50000000000003|           3714.020000000003|                                27.5|        1.0169491525423728|      7.0232800000000015|
|         150|2020-01-01 00:00:00|       green|   9996.160000000005|                627.5|                   98.0|         97.86999999999999|          149.14000000000004|                   109.49999999999932|          11082.069999999976|                                 0.0|        1.1147540983606556|       5.393588516746412|
|         263|2020-01-01 00:00:00|       green|   8987.339999999997|                561.0|                 124.55|        315.27000000000004|           335.0600000000002|                   127.19999999999915|           10684.16999999999|                              239.25|        1.4293478260869565|       5.264249422632796|
|         132|2020-03-01 00:00:00|       green|              1107.5|                  9.5|                    8.5|        102.58000000000001|                        6.12|                   10.800000000000004|          1244.9999999999993|                                 0.0|        1.3513513513513513|      3.2732432432432437|
|         170|2020-03-01 00:00:00|       green|   2299.830000000001|                 2.75|                    2.5|                       0.0|          232.56000000000012|                    21.00000000000003|          2560.5899999999997|                                 0.0|                       1.0|      10.170571428571433|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [35]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')